@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/FuturaCyrillicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/FuturaCyrillicBook.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/FuturaCyrillicMedium.woff2') format('woff2');
}