@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    src: local('Futura PT Light'), url('assets/fonts/FuturaCyrillicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    src: local('Futura PT Book'), url('assets/fonts/FuturaCyrillicBook.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    src: local('Futura PT Medium'), url('assets/fonts/FuturaCyrillicMedium.woff2') format('woff2');
}